<div class="wrapper">
  <nav>
    <h1>Lisa uus kasutaja</h1>
    <a [routerLink]="''">Pealeht</a>
  </nav>
  <section class="kasutaja-info">
    <table>
      <tr>
        <td><strong>ID:</strong></td>
        <td><input type="text" autofocus /></td>
      </tr>
      <tr>
        <td><strong>Nimi:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Kasutajanimi:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>E-mail:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Tänav:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Suite:</strong></td>
        <td><input type="text" /></td>
      </tr>

      <tr>
        <td><strong>Linn:</strong></td>
        <td><input type="text" /></td>
      </tr>

      <tr>
        <td><strong>Sihtnumber:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Lat:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Lng:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Telefoni number:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Veebileht:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Ettevõtte nimi:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Ettevõtte tunnuslause:</strong></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td><strong>Missiooni kirjeldus:</strong></td>
        <td><input type="text" /></td>
      </tr>
    </table>

    <a [routerLink]="['/add-new-user']">
      <button class="uus-kasutaja">
        <strong>+ </strong> &#160; Lisa Uus Kasutaja
      </button>
    </a>
  </section>
</div>
